<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amazon.Core" version="0.14.0" targetFramework="net472" />
  <package id="Amazon.Lambda.Core" version="1.1.0" targetFramework="net472" />
  <package id="Amazon.Lambda.KinesisEvents" version="1.1.0" targetFramework="net472" />
  <package id="Amazon.Lambda.Serialization.Json" version="1.7.0" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.3.103.64" targetFramework="net472" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.102.2" targetFramework="net472" />
  <package id="AWSSDK.Kinesis" version="3.3.100.99" targetFramework="net472" />
  <package id="AWSSDK.Lambda" version="3.3.103.31" targetFramework="net472" />
  <package id="AWSSDK.Rekognition" version="3.3.101.39" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.3.106.6" targetFramework="net472" />
  <package id="Carbon.Json" version="2.0.0" targetFramework="net472" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net472" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
</packages>