<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amazon.Core" version="0.16.2" targetFramework="net472" />
  <package id="Amazon.Lambda.KinesisEvents" version="1.1.0" targetFramework="net472" />
  <package id="Amazon.Lambda.Serialization.Json" version="1.7.0" targetFramework="net472" />
  <package id="Appium.WebDriver" version="4.1.1" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.3.104.25" targetFramework="net472" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.104.27" targetFramework="net472" />
  <package id="AWSSDK.Kinesis" version="3.3.100.132" targetFramework="net472" />
  <package id="AWSSDK.KinesisVideo" version="3.3.102.25" targetFramework="net472" />
  <package id="AWSSDK.Lambda" version="3.3.107.7" targetFramework="net472" />
  <package id="AWSSDK.Rekognition" version="3.3.103.25" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.3.110.23" targetFramework="net472" />
  <package id="Carbon.Json" version="2.1.0" targetFramework="net472" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net472" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net472" />
  <package id="MaterialDesignThemes.MahApps" version="0.1.0" targetFramework="net472" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.WinAppDriver.Appium.WebDriver" version="1.0.1-Preview" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net472" />
  <package id="System.Text.Json" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>