<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amazon.Core" version="0.15.0" targetFramework="net472" />
  <package id="Appium.WebDriver" version="4.1.1" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.3.104.14" targetFramework="net472" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.104.16" targetFramework="net472" />
  <package id="AWSSDK.Kinesis" version="3.3.100.121" targetFramework="net472" />
  <package id="AWSSDK.Lambda" version="3.3.106.14" targetFramework="net472" />
  <package id="AWSSDK.Rekognition" version="3.3.103.14" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.3.110.10" targetFramework="net472" />
  <package id="Carbon.Json" version="2.1.0" targetFramework="net472" />
  <package id="Carbon.Storage" version="2.0.0" targetFramework="net472" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net472" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.0.1" targetFramework="net472" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net472" />
  <package id="Microsoft.WinAppDriver.Appium.WebDriver" version="1.0.1-Preview" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />

  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
</packages>